@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
}

/* shared styles */
.section-title {
    color: #ffffff;
    font-size: 48px;
    text-align: center;
  }
  .section-description {
    color: #ffffff;
    opacity: 50%;
    text-align: center;
    line-height: 26px;
    letter-spacing: 0.5px;
  }
  /* Header , Nav & Banner start */
  header {
    background-color: #111111;
    height: 100%;
  }
  
  nav {
    color: white;
    margin: 0 auto;
    padding-top: 3.5rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav h1 {
    font-size: 36px;
    color: #e6533c;
    font-style: italic;
  }
  nav ul {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    border: 1px solid #828282;
    border-radius: 38px;
    padding: 0.1rem 1rem 0.1rem 0.1rem;
  }
  nav ul li {
    color: #ffffff;
    list-style: none;
  }
  nav ul #special {
    font-weight: 500;
    background-color: #e6533c;
    border-radius: 46px;
    padding: 0.6rem 1.4rem;
  }
  .ham-burger {
    display: none;
  }
  /* banner start */
  .banner {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }
  .banner .banner-txt-box {
    max-width: 520px;
    margin-top: 6.5rem;
    padding-bottom: 2rem;
  }
  .banner .banner-img-box .hide-img {
    display: none;
  }
  .banner .banner-img-box {
    margin-top: 2rem;
  }
  .banner-img-box .img-box {
    position: absolute;
  }
  .banner-img-box .img-txt-box-1 {
    width: max-content;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: #3737376e;
    padding: 14px 16px;
    margin-top: -465px;
    margin-left: 200px;
  }
  .banner-img-box .img-txt-box-1 h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
  }
  .banner-img-box .img-txt-box-1 p {
    color: #ffffff;
    opacity: 60%;
    margin-top: 5px;
  }
  .banner-img-box .img-txt-box-2 {
    width: max-content;
    margin-top: 180px;
    margin-left: -100px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: #3737376e;
    padding: 16px;
  }
  .banner-img-box .img-txt-box-2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .banner-img-box .img-txt-box-2 .icon i {
    color: red;
    font-size: 2.5rem;
  }
  .banner-img-box .img-txt-box-2 h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
  }
  .banner-img-box .img-txt-box-2 p {
    color: #ffffff;
    opacity: 60%;
    margin-top: 5px;
  }
  .banner h1 {
    color: #ffffff;
    font-size: 78px;
    line-height: 120%;
  }
  .banner p {
    margin-top: 1rem;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  .banner h1 > span {
    font-weight: 100;
    font-style: italic;
    font-family: "Miama", sans-serif;
  }
  .banner-txt-box .btn-box {
    margin-top: 28px;
    display: flex;
    gap: 1rem;
  }
  .banner-txt-box .btn-box .btn1 {
    background-color: #e6533c;
    border: none;
    border-radius: 42px;
    font-size: 16px;
    color: #ffffff;
    padding: 14px 40px;
  }
  .banner-txt-box .btn-box .btn2 {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 42px;
    font-size: 16px;
    color: #ffffff;
    padding: 14px 40px;
  }
  /* banner end */
  /* Header , Nav & Banner end */
  main {
    background-color: #000000;
  }
  /* habit start */
  .habit {
    background-color: #000000;
    width: 80%;
    margin: 0rem auto;
    padding: 5rem 0;
  }
  .habit-img-box {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
  }
  .habit-img-box .img-card {
    text-align: center;
    margin-top: 4rem;
  }
  .habit-img-box .img-card h3 {
    color: #ffffff;
    margin-top: 1rem;
    font-weight: 600;
  }
  .habit-img-box .img-card p {
    color: #ffffff;
    opacity: 50%;
    margin-top: 0.5rem;
  }
  .habit-img-box .img-card p > br {
    display: none;
  }
  .habit-img-box .img-card img {
    border-radius: 360px;
    border: 4px solid #222222;
    width: 90%;
  }
  /* habit end */
  /* run start */
  .run {
    width: 80%;
    margin: 0rem auto;
    padding: 5rem 0;
  }
  .run-box {
    background-color: #222222;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    gap: 2rem;
  }
  .run-box .run-txt-box {
    max-width: 480px;
  }
  .run-box .run-img-box img {
    border-radius: 18px;
    max-width: 366px;
    height: 312px;
  }
  .run-box .run-txt-box h1 {
    color: #ffffff;
    font-size: 48px;
  }
  .run-box .run-txt-box p {
    color: #ffffff;
    opacity: 50%;
    line-height: 26px;
    letter-spacing: 0.5px;
  }
  .run-box .run-txt-box .btn1 {
    background-color: #e6533c;
    border: none;
    border-radius: 42px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 16px 65px;
  }
  
  /* run end */
  
  /* bmi calculator start */
  .bmi .bmi-txt-box {
    background-color: #000000;
    width: 50%;
    margin: 0 auto;
    padding: 5.5rem 0;
  }
  .bmi .bmi-txt-box h1 {
    text-align: left;
  }
  .bmi .bmi-txt-box p {
    text-align: left;
    line-height: 26px;
    letter-spacing: 0.5px;
  }
  
  .bmi-calculator-parent-div {
    background-color: #222222;
  }
  .bmi .bmi-calculator-box {
    background-color: #222222;
    padding: 4rem 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
  }
  .bmi .bmi-calculator-box > div {
    width: 50%;
  }
  .table-box h1 {
    color: #ffffff;
    font-size: 28px;
  }
  .table-box table {
    border-collapse: collapse;
  }
  .table-box table thead th {
    color: #ffffff;
  }
  .table-box table th {
    padding: 16px 22px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
  }
  .table-box table td {
    padding: 14px 18px;
    color: #727272;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
  }
  
  .calculator-box {
    width: 100%;
  }
  .calculator-box h1 {
    color: #ffffff;
    font-size: 28px;
  }
  .calculator-box p {
    color: #ffffff;
    opacity: 50%;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.5px;
    margin-top: 0.4rem;
  }
  .input-box .row-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 34px;
  }
  .input-box .row-2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 12px;
  }
  .input-box input,
  select {
    border-radius: 8px;
    border: none;
    background-color: #383838;
    padding: 12px 0px 12px 12px;
    color: #727272;
    font-weight: 600;
  }
  .input-box button {
    margin-top: 34px;
    padding: 1rem 3.5rem;
    border: none;
    border-radius: 2rem;
    background-color: #e6533c;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
  }
  /* bmi calculator end */
  
  /* our team start */
  .team {
    padding: 3rem 0;
  }
  .team p {
    line-height: 26px;
    letter-spacing: 0.5px;
  }
  .team-box {
    width: 80%;
    margin: 3rem auto;
    padding: 1.5rem;
    background-color: #191919;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
  }
  .team-card {
    position: relative;
  }
  .team-card img {
    width: 100%;
    height: 280px;
    border-radius: 18px;
    opacity: 80%;
  }
  .team-card h3 {
    color: #ffffff;
    position: absolute;
    bottom: 45px;
    left: 20px;
  }
  .team-card p {
    color: #ffffff;
    opacity: 60%;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  /* our team end */
  /* Packages section start */
  .Packages {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
    line-height: 3rem;
    color: #ffffff;
  }
  .main-txt-box {
    text-align: center;
  }
  .main-txt-box h4 {
    color: #e6533c;
  }
  .main-txt-box .billed-box {
    background-color:#191919 ;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    width: 200px;
    border-radius: 12px;
  }
  .main-txt-box .billed-box h3 {
    color: #ffffff;
    background-color: #e6533c;
    border-radius: 12px;
  }
  .Packages-box {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 3rem;
    margin-top: 3rem;
  }
  .Packages-card {
    background-color:#191919 ;
    border-radius: 12px;
    padding: 1.5rem 2rem;
  }
  .Packages-card h5 {
    color: #e6533c;
  }
  .Packages-card h1 {
    font-size: 36px;
  }
  .Packages-card p {
    color: #ffffff;
    opacity: 60%;
  }
  .Packages-card  li {
    list-style:none;
  }
  .Packages-card .Packages-btn {
    background-color: #e6533c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 3rem;
    margin-top: 2rem;
    font-size: 16px;
  }
  
  #pack-card {
    background-color: #e6533c;
  }
  #pack-card h5 {
    color: #ffffff;
  }
  #pack-card > .Packages-btn {
    background-color: #191919;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 3rem;
    margin-top: 2rem;
    font-size: 16px;
  }
  
  /* Packages section end */